<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}

{{/* TODO: remove dependency of closing in other partial */}}

<body class="nav-closed"> {{/* closed in footer.html */}}
    {{- partial "navigation.html" . -}}
    {{/* TODO: remove dependency of closing in other partial */}}
    <div class="site-wrapper">{{/* closed in footer.html */}}
        {{ $baseurl := .Site.BaseURL }}
        {{- partial "header.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

</html>